* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 23, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;
  padding: 20px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 85vh;
  width: 100%;
  gap: 35px;
}

section h1 {
  color: GREEN;
  font-size: clamp(3rem, -7.667rem + 21.333vw, 7rem);
  text-shadow: 0 0 10px black;
  text-align: center;
}

.div-g {
  max-width: 950px;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  padding: 50px;
  background-color: #0c432173;
  border-radius: 10px;
  box-shadow: 10px 10px 0px rgba(6, 190, 83, 0.226);
}

#divPrecio h2 {
  font-size: clamp(1.8rem, 0.067rem + 4.267vw, 2.7rem);
  color: rgb(187, 40, 40);
  text-shadow: 0 0 10px black;
  text-align: center;
}

#divPrecio p {
  font-size: clamp(1.4rem, 0.067rem + 4.267vw, 2.7rem);
  text-align: center;
  color: white;
}
section div img {
  width: 240px;
}

section button {
  background-color: green;
  padding: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  box-shadow: 10px 10px 0px rgba(3, 99, 40, 0.589);
  max-width: 950px;
  width: 100%;
  transition: all 0.2s ease;
  font-family: 'Bebas Neue', sans-serif;
}

section button:hover {
  background-color: rgb(12, 170, 12);
}

.div-g input {
  height: 60px;
  padding: 35px 10px;
  border: solid 3px black;
  width: 100%;
  font-size: clamp(1.5rem, 0.25rem + 4vw, 3rem);
  border-radius: 12px;
}
.div-g h2 {
  font-size: clamp(1.8rem, 0.25rem + 4vw, 3rem);
  color: #007f00;
  text-shadow: 0 0 10px black;
  text-align: center;
}

#divCambio p {
  font-size: clamp(1.2rem, 0.25rem + 4vw, 3rem);
  text-align: center;
  color: white;
  text-shadow: 0 0 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

#divCambio p span {
  font-size: clamp(2rem, 0.7rem + 4.8vw, 4rem);
  color: red;
  text-wrap: nowrap;
  align-items: center;
}

.bySteckler {
  color: white;
  position: relative;
  top: 70px;
  font-size: 1.6rem;
  text-align: center;
  padding: 50px;
}

@media screen and (max-width: 768px) {
  section button {
    width: 100%;
  }

  .div-g {
    padding: 30px;
  }
}

@media screen and (max-width: 375px) {
  #divCambio p {
    flex-direction: column;
  }
}
